@media screen and (min-width: 768px){
    body{
        background-color: whitesmoke;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 10px auto;
    }
}

@media screen and (max-width: 480px) and (max-width: 767px){
    body{
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 10px auto;
        background-color: white;
    }
    #socials{
        flex-direction: column;
        align-items: center;
    }
}

#help{
    list-style-type: none;
    padding: 0;
}

#help li{
    margin-bottom: 10px;
}

#socials{
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 15px;
    margin-top: 20px;
}

#socials li{
    margin-bottom: 10px;
}
p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
h1{
    background-color: grey;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 0;
    
}
img{
    width: 150px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(14, 1, 1);
    display :flex;
    font-weight: bold;
    padding: 8px 14px;        
    border-radius: 6px;     
    transition: all 0.3s ease;
}


nav ul li a:hover {
    background-color: #222;
    color: #fff;
    transform: scale(1.05); 
}